# Default Code Owners

-       @belgianlion @ZegesMenden @ravenspired

# Owners

_.c @belgianlion @ZegesMenden @ravenspired
_.h @belgianlion @ZegesMenden @ravenspired
\*\.py @belgianlion @ZegesMenden @ravenspired
